@model UserMaster
@{
    ViewData["Title"] = "DeleteUserMaster";
}



@{

    ViewData["Title"] = "Confirm Delete for " + Model.Name + "(" + Model.UserId + ")";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>
                Confirm Delete for  @Model.Name
            </h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">


                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" readonly />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" readonly />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" readonly />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <form asp-action="DeleteAsyn">
                        <input type="hidden" asp-for="UserId"/>
                        <input type="submit" value="Confirm" style="margin-top:5px" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-secondary" style="margin-top:5px" asp-action="Index"> Show All</a>
                </div>

            </div>
        </div>


    </div>
</div>
