@model UserMaster
@{
    ViewData["Title"] = "EditCategory";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<a href="d:\project\productmanagementsystem\productmanagementsystem\views\usermaster\deleteusermaster.cshtml">d:\project\productmanagementsystem\productmanagementsystem\views\usermaster\deleteusermaster.cshtml</a>
        <p>
            <h1>
                Update Actor
            </h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="EditUsrMaster">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <input asp-for="UserId" disabled readonly class="form-control" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index"> Show All</a>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>